@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
  font-family: 'Josefin Slab', serif;
  color: #42282F;
  margin: 0;
  padding: 0;
}

body {
  max-width: 750px;
  margin: 0 auto;
  background-color: #7493a4;
  font-size: 18px;
}

header, main {
  background-color: #F2EBD5;
}

header {
  position: fixed;
  width: 200px;
  padding: 10px;
}

.container {
  padding-left: 210px;
  width: 550px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  margin: 15px 0 5px 0;
}

h3 {
  margin: 10px 0 5px 0;
}

.summary, .projects {
  padding: 10px;
}

p {
  margin: 10px auto;
}

.projects ul {
  padding: 15px 0;
}